.navbar {
  background-color: black;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1500px;
}

.nav-logo {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 4rem;
  flex-grow: 1;
  text-shadow: 2px 2px white;
  max-width: fit-content;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-bottom: 0px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover :after {
  width: 100%;
  background: yellow;
}

.nav-item .active {
  color: yellow;
  border: 1px solid yellow;
}
